<div class="container">
  <section class="school">
    <div class="school-info">
      <h1 class="title">{{ school.name }}</h1>
      <div class="content">
        <p class="content-subtitle">Información de filtros:</p>
        <p>Pension: {{ school.pension }} soles</p>
        <p>Ubicación: {{ school.district }}</p>
      </div>
    </div>
    <div class="school-img">
      <img [src]="school.photo" [alt]="school.name + 'photo'">
    </div>
  </section>

  <section *ngIf="!qualification" class="actions">
    <button (click)="showQualification()" type="button">Calificar</button>
    <button type="button">Compartir</button>
  </section>

  <app-qualification-school *ngIf="qualification" (sendedReview)="sendedReview()"></app-qualification-school>

</div>
