.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px;
}

.schools {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
}

@media(min-width: 720px) {
  .schools {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.schools a {
  text-decoration: none;
  color: black;
}

.school {
  background: #D9D9D9;
  padding: 10px;
}

.school .image {
  display: flex;
  justify-content: center;
}

.school .info {
  display: flex;
  flex-direction: column;
}

.info h2 {
  margin-bottom: 0;
}

.info p {
  margin-top: 5px;
}


@media(min-width: 720px) {
  .school .info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.image .photo {
  width: 350px;
  height: 200px;
}

.title {
  text-align: center;
}
