.review
{
  border: 4px solid #1c62be;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviewUser {
  margin-bottom: 0;
}

.fecha {
  margin-top: 0;
}

.star {
  width: 24px;
}

.two-columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
