<div class="review">
  <div class="two-columns">
    <div class="info">
      <h3 class="reviewUser"> {{user.nameUser}}</h3>
      <p class="fecha">{{dateReviewT}}</p>
    </div>
    <div class="stars">
      <span *ngFor="let start of starsArray">
        <img class="star" *ngIf="start === true else starElse;" src="../../../../assets/images/star.svg" alt="Star Filled">
        <ng-template #starElse>
          <img class="star" src="../../../../assets/images/star-outline.svg" alt="Star Outline">
        </ng-template>
      </span>
    </div>
  </div>
  <p class="reviewCalifiction"> {{review}} </p>
</div>
